# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [15]:
print("Data","Science" ,"Mentorship", "Program" , "By", "CampusX", sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [14]:
temp_c = float(input('Enter temperature in celsius: '))

temp_f = round(((5*temp_c)/9) +32,2)
print(f"{temp_c} degree celsisus in fahrenheit is {temp_f} fahrenheit")

Enter temperature in celsius: 1
1.0 degree celsisus in fahrenheit is 32.56 fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [10]:
a = int(input('Enter a number: '))
b = int(input('Enter another number: '))

print(f"Before swapping : a={a}, b={b}")

temp = a
a = b
b = temp

print(f"After swapping : a={a} , b={b}")

Enter a number: 2
Enter another number: 3
Before swapping : a=2, b=3
After swapping : a=3 , b=2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
principle = float(input('Enter principal amount: '))
rate = float(input('Enter rate of interest: '))
time = float(input('Enter time in years: '))

si = (principle*rate*time)/100
print(f'Simple interest is {si}')

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [31]:
import numpy as np

heads = 4
legs = 8

x = [[1,1], [2,4]]
y = [heads,legs]
result = np.linalg.solve(x,y)
print(f"chickens: {result[0]} dogs:{result[1]}")

chickens: 4.0 dogs:-0.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [9]:
n = int(input("Enter a natural number: "))
sum_ = 0

for i in range(n+1):
  sum_+= i**2
print(f"Sum of squares of first {n} natural numbers is {sum_}")

Enter a natural number: 3
Sum of squares of first 3 natural numbers is 14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [18]:
a1 = int(input('Enter first number of the arithmetic series: '))
a2 = int(input('Enter second number of the arithmetic series: '))
n = int(input('Which term to find out? '))

d = a2-a1
an = a1 + (n-1)*d

print(an)

Enter first number of the arithmetic series: 1
Enter second number of the arithmetic series: 2
Which term to find out? 4
4

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [6]:
n1 = int(input('Enter numerator of first fraction: '))
d1 = int(input('Enter denominator of first fraction: '))
n2 = int(input('Enter numerator of second fraction: '))
d2 = int(input('Enter denominator of second fraction: '))

sum = round(((n1*d2) + (n2*d1))/ (d1*d2),2)
print(f"sum of the 2 fractions {n1/d1} and {n2/d2} = {sum}")

Enter numerator of first fraction: 1
Enter denominator of first fraction: 2
Enter numerator of second fraction: 1
Enter denominator of second fraction: 3
0.8333333333333334

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [3]:
# Write your code here
tank_length= float(input('Enter lenght of tank: '))
tank_breadth = float(input('Enter breadth of tank: '))
tank_height = float(input('Enter height of tank: '))

glass_height = float(input('Enter height of glass: '))
glass_radius = float(input('Enter radius of glass: '))

tank_volume = tank_length * tank_breadth * tank_height
glass_volume = 3.14 * (glass_radius)**2 * glass_height
num_glasses = int(tank_volume / glass_volume)
print(f"number of glasses that can be filled: {num_glasses}")

Enter lenght of tank: 20
Enter breadth of tank: 20
Enter height of tank: 20
Enter height of glass: 3
Enter radius of glass: 1
number of glasses that can be filled: 849.2569002123142