### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [1]:
def return_unique(lst):
  """input: list with integers
  output : new list with unique elements only"""
  return list(set(lst))

return_unique([1,2,1,2,2])

[1, 2]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [3]:
# Write code here
def func(text):
  """Input : hyphen separated sequence of words
  Output: alphabetically arranged hyphen separated sequence of words"""

  lst = [word for word in text.split("-")]
  sorted_lst  = sorted(lst)
  return "-".join(sorted_lst)

func("green-red-yellow-black-white")

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [4]:
# Write code here
def count_case(text):
  upper = 0
  lower = 0

  for char in text:
    if char.isalpha():
      if char.isupper():
        upper+=1

      else:
        lower+=1

  print(f"Number of upper case characters: {upper}")
  print(f"Number of lower case characters: {lower}")

count_case('CampusX is an Online Mentorship Program fOr EnginEering studentS.')

Number of upper case characters: 9
Number of lower case characters: 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [5]:
# Write code here
def return_even(lst):
  """Input : list with integers
  Output: new list with even integers only"""

  even_lst = [number for number in lst if number%2==0]
  return even_lst

return_even([1, 2, 3, 4, 5, 6, 7, 8, 9])

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [7]:
# Write code here
def is_perfect(number):
  """checks if a number is perfect"""

  divisors = []
  divisors.extend([1,number])

  for i in range(2,number):
    if number%i == 0:
      divisors.append(i)


  if sum(divisors)/2 == number:
    return True
  else:
    return False


is_perfect(496)

True

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [8]:
# Write code here
def concat_dict(*kwargs):
  """Input: multiple dictionaries
  Output: a dictionary that concatenates all the dictionaries given by the user"""

  d = {}

  for i in kwargs:
    d.update(i)

  return d

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

concat_dict(dic1, dic2, dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [11]:
# Write code here
def return_most_used(text):
  d = {}

  for word in text.split(" "):
    if word in d:
      d[word] += 1

    else:
      d[word] = 1

  max_value = max(d.values())
  key_with_max_value = None

  # fetching the key whose value = max_value
  for key,value in d.items():
    if d[key] == max_value:
      key_with_max_value = key

  return f"{key_with_max_value} -> {max_value}"

return_most_used("hello hello you")

'hello -> 2'

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [33]:
# Write code here
import math


def return_histogram(lst):

  """Takes a list of numbers
  Ouput: returns a dictionary that has range of numbers as keys and the frequency of elements within that range as values, just like a histogram """

  min_bin = (math.floor(min(L)/10)) * 10
  max_bin = (math.ceil(max(L)/10)) * 10

  d = {}

  for i in range(min_bin, max_bin, 10):
    count = 0
    for j in L:
      if i+1 <= j <= i+10:
        count+=1

    d[str(i+1) + "-" + str(i+10)] = count

  return d

L = [13,42,15,37,22,39,41,50]
return_histogram(L)

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [26]:
# Write code here
def closest_point(coordinates, query):
  """Input: takes a list of tuples, where each tuple has the coordinates of a 2-D point and a query point
  Output: coordinates of the point that is closest to the query point"""

  d = []
  for i in coordinates:
    distance = (((i[0] - query[0]) **2) + ((i[1] - query[1]) **2)) ** 0.5
    d.append(distance)

  sorted_d = sorted(enumerate(d), key=lambda x: x[1])

  # returning the coordinate corresponding to the shortest distance
  idx = sorted_d[0][0]
  return f"Point nearest to {query} is {coordinates[idx]}"

coordinates = [(1,1),(2,2),(3,3),(4,4)]
query = (0,0)
closest_point(coordinates, query)

'Point nearest to (0, 0) is (1, 1)'

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [1]:
# Write code here
def bow(lst):
  """Input : list of strings
  Output : a dictionary with unique words in the list as keys and their frequency as their values"""

  d = {}
  for string in lst:
    for word in string.split(" "):
      if word in d:
        d[word] += 1
      else:
        d[word] = 1

  return d

lst = ['map cat rat',
       'cat rat mat',
       'sat pat cat'
]
bow(lst)

{'map': 1, 'cat': 3, 'rat': 2, 'mat': 1, 'sat': 1, 'pat': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [7]:
# Write code here
L1 = [1,2,3]
L2 = [4,5,6]
L3 = [7,8,9]

# Expected output: [12, 15, 18]
list(map(lambda x,y,z: x+y+z, L1,L2,L3))

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [5]:
# Write code here
lst = [1,2,3,4,5]
new = []

for i in range(len(lst)):
  new.append(lst[i] ** i)

new

[1, 2, 9, 64, 625]

In [9]:
lst = [1,2,3,4,5]
list(map(lambda x,y: x**y, lst, range(len(lst))))

[1, 2, 9, 64, 625]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [12]:
# Write code here
string = "Mitochondria is the powerhouse of the cell"
list(filter(lambda x: True if x in "aeiou" else False, string))

['i', 'o', 'o', 'i', 'a', 'i', 'e', 'o', 'e', 'o', 'u', 'e', 'o', 'e', 'e']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [13]:
# Write code here
from functools import reduce
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

list(reduce(lambda x,y : x+y, matrix))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [14]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [16]:
list(map(lambda x: x['fname'] + " " + x['lname'], list(filter(lambda x: True if x['grade'] == 'highly-skilled' else False, employees))))

['Neha Singh', 'Abhinav Sharma']