In [2]:
import pandas as pd

###`Q-1:` You are given a Multi index DataFrame. You task is to swap level-0 index with level-0 column.
* Change Branch -> ('cse', 'ece') as columns at level-0 and ('delhi'	'mumbai') as level-0 Index
* And Sort on row index level-0

In [3]:
# Given Code Snippets
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ece',2019),('ece',2020),('ece',2021),('ece',2022)]
multiindex = pd.MultiIndex.from_tuples(index_val)
df = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0],
        [9,10,0,0],
        [11,12,0,0],
        [13,14,0,0],
        [15,16,0,0],
    ],
    index = multiindex,
    columns = pd.MultiIndex.from_product([['delhi','mumbai'],['avg_package','students']])
)

df

               delhi               mumbai
         avg_package students avg_package students
cse 2019           1        2           0        0
    2020           3        4           0        0
    2021           5        6           0        0
    2022           7        8           0        0
ece 2019           9       10           0        0
    2020          11       12           0        0
    2021          13       14           0        0
    2022          15       16           0        0

In [4]:
df.unstack(level=0).stack(level=0).swaplevel().swaplevel(axis=1)

                    cse         ece      cse      ece
            avg_package avg_package students students
delhi  2019           1           9        2       10
mumbai 2019           0           0        0        0
delhi  2020           3          11        4       12
mumbai 2020           0           0        0        0
delhi  2021           5          13        6       14
mumbai 2021           0           0        0        0
delhi  2022           7          15        8       16
mumbai 2022           0           0        0        0

###`Q-2:` Covid Cases Data Set Problem
 Make a DataFrame Using both Covid Dataset. With Country name as Level-0 and Provinance/State as Level-1 Index and date, No of cases and No of Deaths as Columns.

In [5]:
confirm = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTmqT3kxd0i0RUFiEnwA1Hboiunv28MeNTatZsIEqlPPB7mHrl0ttJL7utZ23_1s5FW8ZjODmB8jHIi/pub?gid=2142019845&single=true&output=csv')

deaths = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQn4nLCKIVZMw4e89YeRqgKaSAAwRFaZ6ILMW_FUejZ2tkv3Np1f9gD4QOl3ASHeLzWjOjfmLDKcCOF/pub?gid=212966958&single=true&output=csv")

In [6]:
confirm = confirm.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='date', value_name='num_cases')
deaths = deaths.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='date', value_name='num_deaths')

In [11]:
final_df =confirm.merge(deaths, on=['Province/State', 'Country/Region', 'Lat', 'Long', 'date'])
final_df.head()

,Province/State,Country/Region,Lat,Long,date,num_cases,num_deaths
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0

In [17]:
final_df.set_index(['Country/Region', 'Province/State'], inplace=True)

In [18]:
final_df = final_df[['date', 'num_cases', 'num_deaths']]

###`Q-3:` Show Country with Heighest death percent out of confirmed Cases.

In [24]:
import warnings
warnings.filterwarnings('ignore')

In [25]:
temp = final_df.groupby('Country/Region').sum()
temp['death_percent'] = (temp['num_deaths']/temp['num_cases']) *100
temp.sort_values(by='death_percent', ascending=False).head(1).index[0]

'Korea, North'

### `Q-4` : Make a dataframe for India from Covid Data with one extra column representing no of new cases.

* Just for Assumption "No of new cases" will be equal to difference of "no of cases" with previous day.
* First day new cases will be NaN or equal to no of cases

Say on 12/30/22 No of cases is - 44679608	and a day previous (12/29/22) no of cases is - 44679382.

Then for 12/30/22 -> No of New Cases  = 44679608 - 44679382 =

Note:- Try using shift Function

Try using the shift function

```
s = pd.Series([1,2,3,4,5,6])
s #-> [1,2,3,4,5,6]
s.shift(1) #-> [NaN, 1,2,3,4,5]
s.shift(-1) #-> [2,3,4,5,6, NaN]
```

In [36]:
india = final_df.loc['India']
x = india.loc[:,['num_cases']].shift(1, axis=0).values
india['previous_day_cases'] = x
india['new_cases'] = india['num_cases'] - india['previous_day_cases']

### `Q-5:` Read the Dataset using the below given link and create a multi-index dataframe using the columns "Country" and "City/Town".

This dataset is about the most polluted cities in the world. You can get details from [here](https://www.kaggle.com/datasets/rajkumarpandey02/worlds-most-air-polluted-countries-cities).

**Dataset link:** https://tinyurl.com/2fe6vz4u Directly use this link to read.

**Task:**
1. Find out the name of the city of India which is most poluted based on PM10.
2. Find out the name of the city of India which has minumum pollution level based on PM10.
3. Do same operations (like 1 and 2) with the country China.
4. Make a pie chart based on the column "PM10" of the country Poland.
5. Make a bar chart based on the columns "PM2.5" and "PM10" of the countries Israel and Qatar.
6. Convert this MultiIndex DataFrame to Series by retaining the informations.

In [ ]:
import pandas as pd

In [ ]:
pollution = pd.read_csv('/content/List of most-polluted cities by particulate matter concentration - List of most-polluted cities by particulate matter concentration (1).csv')
pollution.head()

In [ ]:
# forming a multiindex dataframe
pollution.set_index(['Country', 'City/Town'], inplace=True)

In [ ]:
# 1. most polluted indian city
pollution.loc['India'].sort_values(by='PM10', ascending=False).head(1).index[0]

In [ ]:
# 2. city with minimum pollution level
pollution.loc['India'].sort_values(by='PM10').head(1).index[0]

In [ ]:
# 3. most and least polluted cities in China
print('Most polluted city in China: ', pollution.loc['China'].sort_values(by='PM10', ascending=False).head(1).index[0])
print('Least polluted city in China: ', pollution.loc['China'].sort_values(by='PM10').head(1).index[0])

In [ ]:
# 4. pie chart for PM10 for Poland

import matplotlib.pyplot as plt

plt.figure(figsize=(25,8))
pollution.loc['Poland']['PM10'].plot(kind='pie', autopct='%.2f%%')
plt.ylabel('')
plt.title('Breakdown of PM10 values by city for Poland')
plt.show()

In [ ]:
# 5. bar chart for PM10 and PM2.5 values for Israel and Qatar
pollution.loc[['Israel', 'Qatar']][['PM10', 'PM2.5']].plot(kind='bar')
plt.show()

In [ ]:
# 6. converting multiindex dataframe to series
pollution.stack()