###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [ ]:
# Write code here
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

lst = []

for i in range(len(list1)):
  single_list = [list1[i], list2[i]]
  lst.append(single_list)
  single_list = []

print(lst)

In [ ]:
## Approach 2
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
[[i,j] for (i,j) in zip(list1,list2)]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
# Write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [ ]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
i=0

while i < len(candy_list):
  print(f"{candy_list[i]} - {no_of_items[i]}")
  i+=1

In [ ]:
# Approach -2
for i,j in zip(candy_list, no_of_items):
  print(i, " - " , j)

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [ ]:
# Write code here
list1 = [1,2,3,4,5,6]
sum = 0
sum_list = []

for num in list1:
  sum+=num
  sum_list.append(sum)

print(sum_list)

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [ ]:
# Write code here
lst = [2,4,6,10,1]
result = []

for num in lst:
  sum = 0
  for other in lst:
    if other >= num:
        sum += other
  result.append(sum)

print(result)

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [ ]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
res = []

for i in num1:
  if i in num2 and i not in res:
    res.append(i)

for j in num2:
  if j in num1 and j not in res:
    res.append(j)

# sorting the result list
res = sorted(res)
print(res)

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
# Write code here
lst = ['1ac21', '23fg', '456', '098d','1','kls']
d = {}

for string in lst:
  product = 1
  if string.isalpha():
    d[string] = 1

  else:
    for char in string:
      if char.isdigit():
        product *= int(char)
    d[string] = product

# sorting values
values = d.values()
values =sorted(values, reverse=True)
result = []

for value in values:
  for key in d.keys():
    if value == d[key] and key not in result:
      result.append(key)

print(result)

In [ ]:
## Approach =2
# using zip to store the strings and their corresponding products

lst = ['1ac21', '23fg', '456', '098d','1','kls']
product_list = []

for string in lst:
  product = 1
  if string.isalpha():
    d[string] = 1

  else:
    for char in string:
      if char.isdigit():
        product *= int(char)
    product_list.append(product)

[i[1] for i in sorted(list(zip(product_list, lst)), reverse=True)]

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [ ]:
# Write code here
lst = ['CampusX is a channel', 'for data-science', 'aspirants.']
result = []

for string in lst:
  word_list = string.split(" ")
  for word in word_list:
    result.append(word)

print(result)

In [ ]:
#Approach 2 - using extend method
lst = ['CampusX is a channel', 'for data-science', 'aspirants.']
result = []

for string in lst:
  result.extend(string.split(" "))

print(result)

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [ ]:
# Write code here
lst = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
string = ""

for one_list in lst:
  for char in one_list:
    string += char
  string += " "
print(string)

In [ ]:
lst = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
" ".join(["".join(i) for i in lst])

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [ ]:
# Code here
lst = ['campusxIs', 'bestFor', 'dataScientist']
result = []

for string in lst:
  temp = [[]]

  for char in string:
    if char.isupper():
      temp.append([])
    temp[-1].append(char)

  temp_string = ""
  for item in temp:
    temp_string = temp_string + " " + "".join(item)

  result.append(temp_string[1:])

print(result)

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [ ]:
# Write code here
l1 = [1,2,3,4,5,1]
l2 = [2,3,5,7,8]
result = []

for i in l1:
  if i not in result:
    result.append(i)

for j in l2:
  if j not in result:
    result.append(j)

print(result)

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [ ]:
# Write code here
lst = [[1,2,3],[4,5,6],[7,8,9]]
result = []

for single_list in lst:
  max = single_list[0]
  for num in single_list:
    if num>max:
      max = num
  result.append(max)

print(result)

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
# Write code here
[[j+3*i for j in range(0,3)] for i in range(0,3)]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [ ]:
# Write code here
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]


[[row[i] for row in matrix]for i in range(len(matrix))]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Write code here
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

result = []

for single_list in matrix:
  for num in single_list:
    result.append(num)

print(result)

In [ ]:
# Approach -2: List comprehension
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

[item for row in matrix for item in row]